name: Publish Release

on:
  workflow_dispatch:

permissions:
  contents: write
  id-token: write

jobs:
  release:
    uses: qarium/ci/.github/workflows/library-publish.yml@0.0.x
    with:
      src-package: {{package_name}}
    secrets:
      PYPI_API_TOKEN: ${% raw %}{{ secrets.PYPI_API_TOKEN }}{% raw %}
      ZAI_TOKEN: ${% raw %}{{ secrets.ZAI_TOKEN }}{% raw %}